@import "tailwindcss";

button {
    @apply min-w-fit p-2 text-center h-fit pb-2 cursor-pointer;
}

button:hover {
    @apply shadow-md;
}

button:hover::after {
    @apply capitalize absolute translate-x-2/4 left-2/4 -bottom-10 bg-neutral-100 text-neutral-800 dark:bg-neutral-600 dark:text-neutral-200 z-20 min-w-max px-2 rounded-md pb-2 pt-1;
    content: var(--name);
}

.highlight {
    --name: "Highlighter";
}
.braces {
    --name: "Multi Line Code";
}
.image {
    --name: "Image";
}
.link {
    --name: "link";
}
.hr {
    --name: "Horizontal Line";
}
.code {
    --name: "Single Line Code";
}
.ul {
    --name: "Un-ordered List";
}
.ol {
    --name: "Ordered List";
}
.q {
    --name: "Quote";
}
.b {
    --name: "Bold";
}
.i {
    --name: "Italic";
}
.p {
    --name: "Paragraph";
}
.preview {
    --name: "preview";
}