@import "tailwindcss";

button {
    @apply min-w-fit p-2 text-center h-fit pb-2 cursor-pointer;
}

button:hover {
    @apply shadow-md;
}

button:hover::after {
    @apply absolute -bottom-8 bg-neutral-600 text-neutral-200 z-20 -right-2/4 w-fit px-2 rounded-md pb-2 pt-1;
    content: var(--name);
}

.highlighter {
    --name: "highlighter";
}
.braces {
    --name: "braces";
}
.image {
    --name: "image";
}
.link {
    --name: "link";
}
.hr {
    --name: "hr";
}
.code {
    --name: "code";
}
.ul {
    --name: "ul";
}
.ol {
    --name: "ol";
}
.quote {
    --name: "quote";
}
.bold {
    --name: "bold";
}
.italic {
    --name: "italic";
}
.paragraph {
    --name: "paragraph";
}